.menu{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: #222;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
   
}

.item{
    margin: 10px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: #FFBB33;
    text-decoration: none;
    background-color: antiquewhite ;
    transition: background 1s;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1em;

}